@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), Arial, Helvetica, sans-serif;
  
  --color-primary: #30AFFF;
  --color-primary-hover: #2196e8;
  --color-blue-50: #eff8ff;
  
  --radius-box: 5px;
}

body {
  background: var(--background);
  color: var(--foreground);
}
